<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1>Lid toevoegen</h1>
<form action="#" th:action="@{/admin}" method="post" th:object="${myform}">

    <!--   <div>
           <label th:for="message">Message: </label>
           <input type="text" th:field="*{message}" th:errorClass="errorField"/>
           <span class="errorMessage" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">
                       Invalid message
                   </span>
       </div><hr>-->

    <hr>
    <div>Voornaam: <input type="text" th:field="*{firstName}" name="firstName"></div>
    <hr>
    <div>Achternaam: <input type="text" th:field="*{lastName}" name="lastName"></div>
    <hr>
    <div>Email: <input type="text" th:field="*{email}" name="email"></div>
    <hr>
    <div>Straat: <input type="text" th:field="*{street}" name="street"></div>
    <hr>
    <div>Nummer: <input type="text" th:field="*{number}" name="number"></div>
    <hr>
    <div>Postbus: <input type="text" th:field="*{postBox}" name="postBox"></div>
    <hr>
    <div>Postcode: <input type="text" th:field="*{postalCode}" name="postalCode"></div>
    <hr>
    <div>Stad: <input type="text" th:field="*{city}" name="city"></div>
    <hr>
    <div>Telefoonnummer: <input type="text" th:field="*{phoneNumber}" name="phoneNumber"></div>
    <hr>
    <div>Geboortedatum: <input type="date" th:field="*{birthday}" name="birthday"></div>
    <hr>
    <p>Gekende breisteken</p>
    <div th:each="choice : ${knittingStiches}">
        <label th:for="${#ids.next('knittingStiches')}" th:text="${choice}">Radio label</label>
        <input type="checkbox" th:field="*{knittingStiches}" th:value="${choice}"/>
    </div>
    <hr>
    <p>Machtiging:</p>
    <div th:each="radio : ${roleList}">
        <label th:for="${#ids.next('securityRole')}" th:text="${radio}">Radio label</label>
        <input type="radio" th:field="*{securityRole}" th:value="${radio}"/>
    </div>

    <hr>

    <!--  <div th:each="size : ${T(be.syntra.java.advanced.springmvc.form.SizeType).values()}">
          <label th:for="${#ids.next('size')}" th:text="${size}">Radio label</label>
          <input type="radio" th:field="*{size}" th:value="${size}"/>
      </div>
      <hr>
  -->
    <p>Ledenrol:</p>
    <div th:each="choice : ${memberRoleList}">
        <label th:for="${#ids.next('choices')}" th:text="${choice}">Choice</label>
        <input type="checkbox" th:field="*{role}" th:value="${choice}"/>
    </div>

    <br>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>