<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gedetailleerde ledenlijst</title>
</head>
<body>
<h1>Detailed list of members</h1>
<p>
    voornaam: [[${member.firstName}]] <br/>
    achternaam: [[${member.lastName}]] <br/>
    email: [[${member.email}]] <br/>
    adres: [[${member.address}]] <br/>
    telefoonnummer: [[${member.phoneNumber}]] <br/>
    geboortedatum: [[${member.birthday}]] <br/>
    functie: [[${member.role}]] <br/>
    gekende breisteken: [[${member.knittingStiches}]] <br/>
</p>
</body>
</html>