<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
</head>
<body>
<form method="get">
    <a href="/members"
       th:each="member, status : ${members}"
    >
    </a>
    <!-- <thead>
     <tr>
         <th class="mdl-data-table__cell&#45;&#45;non-numeric">Name</th>
         <th class="mdl-data-table__cell&#45;&#45;non-numeric">E-mail</th>
         <th class="mdl-data-table__cell&#45;&#45;non-numeric">Role</th>
         <th class="mdl-data-table__cell&#45;&#45;non-numeric">Number of known stitches</th>
         <th class="mdl-data-table__cell&#45;&#45;non-numeric">Details</th>
     </tr>
     </thead>
     <tr >-->
    <!--<td th:text="${member.firstName} + ' ' + ${member.lastName}" class="mdl-data-table__cell&#45;&#45;non-numeric">Name FamilyName</td>
    <td th:text="${member.email}" class="mdl-data-table__cell&#45;&#45;non-numeric">Email</td>
    <td th:text="${member.knittingStitches}" class="mdl-data-table__cell&#45;&#45;non-numeric">Role</td>
    <td th:text="${member.address}" class="mdl-data-table__cell&#45;&#45;non-numeric">Stitches</td>-->
    <!--    </tr>-->
</form>
</body>
</html>
