<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="base:: layout(~{::title}, ~{::section})" lang="en">
<head>
    <title>Members</title>
</head>
<body>
<section>
    <h1>Ledenlijst</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Number of known stitches</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.getFirstName()} + ' ' + ${member.getLastName()}"></td>
            <td th:text="${member.getEmail()}"></td>
            <td th:text="${member.getRole()}"></td>
            <td th:text="${member.getKnittingStiches().size()}"></td>
            <td><a th:href="@{/members/detail/{id}(id=${member.getId()})}">Details</a></td>
        </tr>
        </tbody>
    </table>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-primary" th:href="@{/members/create}">Lid toevoegen</a>
    </div>
</section>
</body>
</html>
